.exhibitionCardContainer{
    border: 1px solid #E0E0E0;
    border-radius: 10%;
    padding: 1em;
    width: 300px;
    height: auto;
    background-color: #FFFFFF;
   
}

img{
    width: 100px;
    height: 100px;
    margin-left: 5.3em;
    border-radius: 15%;
}

h2, p{
    text-align: center;
}